
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->



         <div class="container-fluid">
            <!-- START row-->
            <div class="row" id="events">

               <div class="col-sm-7">
				   <h3>Ad# {{ad.id}}</h3>
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <tbody>
                                 <tr>
								   <td>Ad Id#: </td>
								   <td>{{ad.id}}</td>
								 </tr>
								 <form method="POST" enctype="multipart/form-data">
								 <tr>
								   <td>Image: </td>
									   {%if ad.image%}
									  <td>
										  <a target="_blank" href="{{ad.image}}">
										  <img src="{{ad.image}}" alt="ad image">
										  </a>
									  </td>
									   {%endif%}
									   <td><input type="file" name="image" value="{{ad.image}}"></td>
								 </tr>
								 <tr>
								   <td>Description: </td>
								   <td><input type="textarea" name="description" value="{{ad.description}}"></td>
								 </tr>
								  <tr>
								   <td>Ends at: </td>
								   <td><input type="date" name="ends_at" value="{{ad.ends_at}}"></td>
								 </tr>
								 <tr>
								   <td>Active: </td>
								   <td><input type="checkbox" name="active" {% if ad.active == True %}checked{% endif %} value="true"></td>
								 </tr>
								 <tr>
								   <td></td>
								   <td><input type="submit"</td>
								 </tr>
								 </form>
								 <tr>
									 <td></td>
									 <td>
										  <div>
							                 <a href="{{ad.id}}?delete=true" class="btn btn-danger"><i class="fa fa-trash"></i> Delete ad</a>
							              </div>
						             </td>
								 </tr>
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
               </div>
                  <!-- END panel-->
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
{% endblock %}

