<link rel="shortcut icon" href="http://butlertech.co/images/favicon.png">

<title>Foodfare Admin Login</title>


{% block content %}
<style>
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
</style>
<div class="center">
	   <img src='/static/img/foodfare_logo.jpg' alt='foodfare logo'>
	  <h3>Admin Panel</h3>
	  <form method="post">
	    <input placeholder="email" name="email" id="email" required><br><br>
	    <input placeholder="password" type="password" name="password" id="password" required><br><br>
	    <div class="checkbox c-checkbox pull-left mt0">
			   <input type="checkbox" value="yes" name="remember">
			   <span class="fa fa-check"></span>Remember Me</label>
		</div>
		<br>
		<input type="submit" value="Log In">
	  </form>

</div>
{% endblock %}

