
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img_ {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
</style>

         <div class="content-wrapper">
            <h3>
               Ads
            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
							<br>
                           <table id="example" class="table table-striped datatable">
                              <thead>
								 <tr>
<!--
									 <label>Search:
										 <input id="txtSearch" type="search" style="width:150px;" placeholder="Search" aria-controls="example">
									 </label>
-->

						                 <a href="ad/new" style="margin:10px;" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add new ad</a>
						         </tr>
								  <br><br>
                                 <tr>
                                    <th style="white-space:nowrap">Ad Id#</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Active</th>
                                    <th>Created at</th>
                                    <th>Ends at</th>
                                 </tr>
                              </thead>
                              <tbody>
								  {%for ad in ads%}
                                 <tr>
								   <td><a href="/foodfare/admin/ad/{{ad.id}}">{{ad.id}}</a></td>
								   <td>
									   {%if ad.image%}
									   <a target="_blank" href="{{ad.image}}">
										  <img class="img_" src="{{ad.image}}" alt="ad image">
									   </a>
									   {%endif%}
								   </td>
								   <td>{{ad.description}}</td>
								   <td>
									   <label class="switch">
										  <input type="checkbox" id="ad{{ad.id}}" {%if ad.active == 1%}checked{%endif%}>
										  <span class="slider round"></span>
									   </label>
								   </td>
								   <td>{{ad.timestamp|timestr}}</td>
								   <td>{{ad.ends_at}}</td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Ads</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script>
var xhr = new XMLHttpRequest();
document.addEventListener('DOMContentLoaded', function () {

  {%for ad in ads%}
  document.getElementById("ad{{ad.id}}").addEventListener('change', function () {
    if (document.getElementById("ad{{ad.id}}").checked) {
      // do this
      console.log('Checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_ad?id="+{{ad.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("status=1");
    } else {
      // do that
      console.log('Not checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_ad?id="+{{ad.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("status=0");
    }
  });
  {%endfor%}
});
</script>

{% endblock %}

