<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="http://butlertech.co/images/favicon.png">

  <title>Foodfare Admin Dashboard</title>

  <!-- CSS Plugins -->
  <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="/static/assets/plugins/fullcalendar/fullcalendar.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">


  <!-- CSS Global -->
  <link rel="stylesheet" href="/static/assets/css/theme.min.css">

    <!-- JavaScript
    ================================================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://github.com/Modernizr/Modernizr/raw/master/modernizr.js"></script>

    <!-- JS Plugins -->
    <script src="/static/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/assets/plugins/fullcalendar/lib/moment.min.js"></script>
    <script src="/static/assets/plugins/fullcalendar/fullcalendar.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>

    <!-- JS Custom -->
    <script src="/static/assets/js/theme.min.js"></script>
<!--
    <script src="/static/assets/js/kite.min.js"></script>
-->
    <script src="/static/assets/js/custom.js"></script>


  </head>

<style>
.sidebar__toggle {
    padding: 5px 16px;
    font-size: 1.4em;
    color: hsla(0,0%,100%,.7);
    transition: color .15s;
}
</style>

   <body>

    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-default" style='background-color: red !important;'>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar_main">

          <!-- Navbar: Brand -->
          <a style="color:white;" class="navbar-brand">
			  Foodfare <b>Admin Dashboard</b>
          </a>

          <!-- Navbar: Toggle menu -->
          <a class="navbar-btn navbar-left" id="sidebar__toggle">
            <i class="fa fa-bars"></i>
          </a>

          <a href="/foodfare/admin/logout" class="navbar-btn navbar-left sidebar__toggle">
            <i class="fa fa-sign-out"></i>
          </a>

          <!-- Navbar: Search form -->
<!--
          <form class="navbar-form navbar-left hidden-xs" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-link">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
-->

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- WRAPPER
    ================================================== -->
    <div class="wrapper">
	  <div class="container-fluid">

      <!-- SIDEBAR
      ================================================== -->
      <div class="sidebar">

        <!-- Sidebar: Close button (mobile devices) -->
        <div class="sidebar__close">
          <img src="/static/assets/img/icons/icon_close.svg" alt="Close sidebar">
        </div>

        <!-- Sidebar: User nav -->
        <nav class="sidebar-user__nav" id="sidebar-user__nav">
          <ul class="sidebar__nav">

			<li>
				<img style="width:80%;margin-left:10%" src='/static/img/foodfare_logo.jpg' alt='foodfare logo' width='240'>
			</li>

			{%if current_user.role == 0%}
            <li {% if '/foodfare/admin/user' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/users">
                <i class="fa fa-user"></i> Users
              </a>
            </li>
            {%endif%}

            {%if current_user.role in [0, 1]%}
            <li {% if '/foodfare/admin/orders' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/orders">
                <i class="fa fa-shopping-cart"></i> Orders
              </a>
            </li>
            {%endif%}

			{%if current_user.role in [0, 1]%}
            <li {% if '/foodfare/admin/payment_transactions' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/payment_transactions">
                <i class="fa fa-money"></i> Payments
              </a>
            </li>
            {%endif%}

			{%if current_user.role in [0, 1]%}
            <li {% if '/foodfare/admin/promos' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/promos">
                <i class="fa fa-tag"></i> Promos
              </a>
            </li>
            {%endif%}

			{%if current_user.role == 0%}
            <li {% if '/foodfare/admin/ads' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/ads">
                <i class="fa fa-bullhorn"></i> Ads
              </a>
            </li>
            {%endif%}

			{%if current_user.role == 0%}
            <li {% if '/foodfare/admin/store' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/stores">
                <i class="fa fa-building"></i> Stores
              </a>
            </li>
            {%endif%}

            {%if current_user.role == 0%}
            <li {% if '/foodfare/admin/feedback' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/feedback">
                <i class="fa fa-comment"></i> Feedback
              </a>
            </li>
            {%endif%}

            {%if current_user.role in [0, 1]%}
            <li {% if '/foodfare/admin/reports' in request.url %}class="active" {% endif %}>
              <a href="/foodfare/admin/reports">
                <i class="fa fa-book"></i> Reports
              </a>
            </li>
            {%endif%}

          </ul>
        </nav>

      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    {% for category, message in messages %}
		  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	  {% endwith %}


      {% block body %}{% endblock %}

      </div><!-- / .container-fluid -->

    </div><!-- / .wrapper -->

    <!-- Footer -->
        <footer class="page__footer">
          <div class="row">
            <div class="col-xs-12">
              <span class="page__footer__year"></span> &copy; ButlerTech Group
            </div>
          </div>
        </footer>

  </body>
</html>
