
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->
<style>

/* Add a hover effect (blue shadow) */
.img_ {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.img_:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.long-value-input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

</style>



         <div class="container-fluid">
            <!-- START row-->
            <div class="row" id="events">

               <div class="col-sm-8">
				   <h3>Menu Item #{{item.id}}</h3>
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <tbody>
								 <form method="POST" enctype="multipart/form-data">
								 <tr>
								   <td>Title: </td>
								   <td><input type="text" name="name" value="{{item.name}}"></td>
								 </tr>
								 <tr>
								   <td>Item Details: </td>
								   <td><input type="text" name="details" value="{{item.details}}"></td>
								 </tr>
								 <tr>
								   <td>Item No: </td>
								   <td><input type="text" name="itemno" value="{{item.itemno}}"></td>
								 </tr>
								 <tr>
								   <td>Price: </td>
								   <td><input type="text" name="price" value="{{item.price}}"></td>
								 </tr>
								 <tr>
								   <td>Price take-away: </td>
								   <td><input type="text" name="take_away" value="{{item.take_away}}"></td>
								 </tr>
								 <tr>
								   <td>Image: </td>
								   {%if item.image%}
									  <td>
										  <a target="_blank" href="{{item.image}}">
										  <img class="img_" src="{{item.image}}" alt="food image">
										  </a>
									  </td>
								   {%endif%}
								   <td><input type="file" name="image" value="{{item.image}}"></td>
								 </tr>
								 <tr>
								   <td>Tags: </td>
								   <td><input class="long-value-input" type="text" name="tags" value="{{item.tags|join_list_comma}}"><br>
								   <small><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> If more than one, follow format eg. Indian, Vegan</strong></small>
								   </td>
								 </tr>

								 <tr>
								   <td>Active: </td>
								   <td><input type="checkbox" name="shown" {% if item.shown == True %}checked{% endif %} value="true"></td>
								 </tr>
								 <tr id="so_textbox">
								   <td>Special Offer T&C: </td>
								   <td><input class="long-value-input" type="text" name="terms" value="{{item.terms}}"></td>
								 </tr>
								 <tr>
								   <td>Special Offers Menu: </td>
								   <td><input id="so_checkbox" type="checkbox" name="special_offers" {% if item.special_offers == True %}checked{% endif %} value="true"></td>
								 </tr>
								 <tr>
								   <td></td>
								   <td><input class="btn btn-primary" type="submit"></td>
								 </tr>
								 <tr>
									 <td></td>
									 <td>
										  <div>
							                 <a href="{{item.id}}?delete=true" class="btn btn-danger"><i class="fa fa-trash"></i> Delete Item</a>
							              </div>
						             </td>
								 </tr>
								 <br>
								 <tr>
								   <td><h3>Selections</h3></td>
								 </tr>
								 <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Code</th>
                                    <th>Allow</th>
                                 </tr>
								 {% for sel in selections %}
								 <tr>
									 <td><input type="text" name="selections_name_{{loop.index}}" value="{{sel.name}}"></td>
									 <td><input type="text" name="selections_price_{{loop.index}}" value="{{sel.price}}"></td>
									 <td><input type="text" name="selections_code_{{loop.index}}" value="{{sel.code}}"></td>
									 <td>
										 <select name="selections_allow_{{loop.index}}">
									      <option value="single" {% if sel.allow == "single" %}selected{% endif %}>single</option>
									      <option value="multiple" {% if sel.allow == "multiple" %}selected{% endif %}>multiple</option>
									     </select>
									 </td>
									 <td><a href="{{item.id}}?delete_sel=true&name={{sel.name}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a></td>
								 </tr>
								 {% else %}
                                 <tr>
                                   <td>No Selections</td>
                                 </tr>
                                 {% endfor %}
                                 <tr>
									 <td>
										 <a href="{{item.id}}?add_sel=true" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
								         <input class="btn btn-primary" type="submit">
								     </td>
								 </tr>
                                 <br>
                                 <tr>
								   <td><h3>Submenu</h3></td>
								 </tr>
								 <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Code</th>
                                    <th>Allow</th>
                                 </tr>
								 {% for sub in submenu %}
								 <tr>
									 <td><input type="text" name="submenu_name_{{loop.index}}" value="{{sub.name}}"></td>
									 <td><input type="text" name="submenu_price_{{loop.index}}" value="{{sub.price}}"></td>
									 <td><input type="text" name="submenu_code_{{loop.index}}" value="{{sub.code}}"></td>
									 <td>
										 <select name="submenu_allow_{{loop.index}}">
									      <option value="single" {% if sub.allow == "single" %}selected{% endif %}>single</option>
									      <option value="multiple" {% if sub.allow == "multiple" %}selected{% endif %}>multiple</option>
									     </select>
									 </td>
									 <td><a href="{{item.id}}?delete_sub=true&name={{sub.name}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a></td>
								 </tr>
								 {% else %}
                                 <tr>
	                               <td>No Submenu</td>
                                 </tr>
                                 {% endfor %}
                                 <tr>
									 <td>
										 <a href="{{item.id}}?add_sub=true" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
										 <input class="btn btn-primary" type="submit">
								     </td>
								 </tr>
								 <br>
                                 <tr>
								   <td><h3>Addons</h3></td>
								 </tr>
								 <tr>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Code</th>
                                    <th>Allow</th>
                                 </tr>
								 {% for addon in addons %}
								 <tr>
									 <td><input type="text" name="addons_name_{{loop.index}}" value="{{addon.name}}"></td>
									 <td><input type="text" name="addons_price_{{loop.index}}" value="{{addon.price}}"></td>
									 <td><input type="text" name="addons_code_{{loop.index}}" value="{{addon.code}}"></td>
									 <td>
										 <select name="addons_allow_{{loop.index}}">
									      <option value="single" {% if addon.allow == "single" %}selected{% endif %}>single</option>
									      <option value="multiple" {% if addon.allow == "multiple" %}selected{% endif %}>multiple</option>
									     </select>
									 </td>
									 <td><a href="{{item.id}}?delete_addon=true&name={{addon.name}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a></td>
								 </tr>
								 {% else %}
                                 <tr>
                                   <td>No Addons</td>
                                 </tr>
                                 {% endfor %}
                                 <tr>
									 <td>
										 <a href="{{item.id}}?add_addon=true" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
										 <input class="btn btn-primary" type="submit">
									</td>
								 </tr>
								 </form>
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
               </div>
                  <!-- END panel-->
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->

<script>

window.onload = function() {
    var checkBox = document.getElementById("so_checkbox");
    var text = document.getElementById("so_textbox");
    if (checkBox.checked != true){
		text.style.display = "none";
	}

}

$(document).ready(function () {
	$('#so_checkbox').click(function () {
         var $this = $(this);
         if ($this.is(':checked')) {
             $('#so_textbox').show();
         } else {
             $('#so_textbox').hide();
         }
    });
});
</script>
{% endblock %}

