
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img_ {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}


</style>


         <div class="content-wrapper">
            <h3>

              {{stall.store_obj.name}}-{{stall.name}} Menu

            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
							<br>
                           <table id="example" class="table table-striped datatable">
                              <thead>
								 <tr>
<!--
									 <label>Search:
										 <input id="txtSearch" type="search" style="width:150px;" placeholder="Search" aria-controls="example">
									 </label>
-->

						                 <a style="margin:10px;" href="menu/new?stallid={{stall.id}}" class="btn btn-primary pull-right {%if current_user.role != 0%}inactiveLink{%endif%}"><i class="fa fa-plus"></i> Add Menu Item</a>
						         </tr>
                                 <br><br>
                                 <tr>
                                    <th>id#</th>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Active</th>
                                    <th>Special Offers Menu</th>
                                    <th>No</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for item in menu %}
                                 <tr>
								   <td>{{item.id}}</td>
								   <td><a href="/foodfare/admin/store/{{stall.store_obj.id}}/stall/{{stall.id}}/menu/{{item.id}}" {%if current_user.role != 0%}class="inactiveLink"{%endif%}>{{item.name}}</a></td>
								   <td>
									   {%if item.image%}
									   <a target="_blank" href="{{item.image}}" {%if current_user.role != 0%}class="inactiveLink"{%endif%}>
										  <img class="img_" src="{{item.image}}" alt="food image">
									   </a>
									   {%endif%}
								   </td>
								   <td>
									   <label class="switch">
										  <input type="checkbox" id="item{{item.id}}" {%if item.shown == true%}checked{%endif%}>
										  <span class="slider round"></span>
									   </label>
								   </td>
								   <td>
									   <label class="switch">
										  <input type="checkbox" id="item{{item.id}}_so" {%if item.special_offers == true%}checked{%endif%} {%if current_user.role != 0%}disabled{%endif%}>
										  <span class="slider round"></span>
									   </label>
								   </td>
								   <td>{{item.itemno}}</td>
								   <td>{{item.menu_title}}</td>
								   <td>$ {{'%0.2f'| format(item.price|float)}}</td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Items</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->

<script>
var xhr = new XMLHttpRequest();
document.addEventListener('DOMContentLoaded', function () {

  {%for item in menu%}
  document.getElementById("item{{item.itemid}}").addEventListener('change', function () {
    if (document.getElementById("item{{item.itemid}}").checked) {
      // do this
      console.log('Checked');
      xhr.open("POST", "https://qiji.butlerpad.com/qiji/update_menu_item?id="+{{item.itemid}}+"&storeid="+{{item.store}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("shown=true");
    } else {
      // do that
      console.log('Not checked');
      xhr.open("POST", "https://qiji.butlerpad.com/qiji/update_menu_item?id="+{{item.itemid}}+"&storeid="+{{item.store}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("shown=false");
    }
  });

  document.getElementById("item{{item.itemid}}_so").addEventListener('change', function () {
    if (document.getElementById("item{{item.itemid}}_so").checked) {
      // do this
      console.log('Checked');
      xhr.open("POST", "https://qiji.butlerpad.com/qiji/update_menu_item?id="+{{item.itemid}}+"&storeid="+{{item.store}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("specialoffers=true");
    } else {
      // do that
      console.log('Not checked');
      xhr.open("POST", "https://qiji.butlerpad.com/qiji/update_menu_item?id="+{{item.itemid}}+"&storeid="+{{item.store}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("specialoffers=false");
    }
  });
  {%endfor%}
});

$(document).ready(function() {
    $('#example').DataTable( {
        //dom: 'B<"clear">lfrtip',
        //buttons: [
            //'copyHtml5',
            //{ "extend": 'pdfHtml5', "text":'<i class="fa fa-file-pdf-o"></i> Export PDF',"className": 'pull-right btn btn-primary my_button_space_class' },
            //{ "extend": 'csvHtml5', "text":'<i class="fa fa-file-text-o"></i> Export CSV',"className": 'pull-right btn btn-primary my_button_space_class' },
            //{ "extend": 'excelHtml5', "text":'<i class="fa fa-file-excel-o"></i> Export Excel',"className": 'pull-right btn btn-primary my_button_space_class' },
        //],
        //"order": [[ 0, "desc" ]]
    } );
    $('#example_filter').hide(); // Hide default search datatables where example is the ID of table
    $('#txtSearch').on('keyup change', function() {
        $('#example')
            .DataTable()
            .search($('#txtSearch').val(), false, true)
            .draw();
    });
} );
</script>

{% endblock %}

