
{% extends "foodfare2/main.html" %}

{% block body %}
<style>
.fluidMedia {
    position: relative;
    padding-bottom: 60%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
</style>
<!-- START Page content-->
<div class="content-wrapper center">
	<h1>Qiji Menu Log In</h1>
        <form method="post">
	    <input placeholder="pin" name="pin" id="pin" required><br><br>
		<input type="submit" value="Log In">
	  </form><br>
	<small><i class="fa fa-warning"></i> Use same pin with the one in the merchant app.</small>
</div>

{% endblock %}

