
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<style>
.my_button_space_class{
	margin-right :10px;
}
</style>


         <div class="content-wrapper">
            <h3>

               Orders {%if from_date != '2016-01-01'%}from <strong>{{from_date}}</strong>{%endif%}
               to <strong>{{to_date}}</strong> for
               {%if not store_ids or 'all' in store_ids%}all stores{%endif%}

               {%for store in stores%}
               {%if store.id|string in store_ids%}
               {{store.name}} |
               {%endif%}
               {%endfor%}

            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
							<br>
							<form>
								<p style="font-size:10px;">Hold Ctrl to select more than one stores.</p>
								<select name="storeid" style="margin-right:5px;" multiple>
									<option value="all">All</option>
									{%for store in stores%}
								    <option value="{{store.id}}">{{store.name}}</option>
								    {%endfor%}
								</select>
								<label>From: <input type="date" name="fromdate" style="width:145px;margin-right:5px;"></label>
								<label>To: <input type="date" name="todate" style="width:145px;margin-right:5px;"></label>
								<input type="submit" value="Submit" style="margin-right:20px;">
						    </form>
                           <table id="example" class="table table-striped datatable">
                              <thead>
								  <br>
								 <tr>
									 <label>Search:
										 <input id="txtSearch" type="search" style="width:150px;" placeholder="Search" aria-controls="example">
									 </label>
                                 </tr><br>
                                 <tr>
                                    <th style="white-space:nowrap">Order Id#</th>
                                    <th>Store</th>
                                    <th>Amount</th>
                                    <th>Gross Amount</th>
                                    <th>Discount</th>
                                    <th>Promo used</th>
                                    <th>Status</th>
                                    <th style="white-space:nowrap">User Id# </th>
                                    <th>Details</th>
                                    <th>Date/time</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for order in orders %}
                                 <tr>
								   <td>{{order.id}}</td>
								   <td>{{store_from_order_id("qiji", order.id)}}</td>
								   <td>${{order.totalNetAmount}}</td>
								   <td>${{order.totalAmount}}</td>
								   <td>${{order.totalDiscount}}</td>
								   <td>{{order.promo}}</td>
								   <td>{{order.status|order_status_name}}</td>
								   <td><a href='/qiji/admin/user/{{order.user}}'>{{order.user}}</a></td>
								   <td>{{order.details|order_details}}</td>
								   <td>{{order.timestamp|timestr}}</td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Orders</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'B<"clear">lfrtip',
        buttons: [
            //'copyHtml5',
            { "extend": 'pdfHtml5', "text":'<i class="fa fa-file-pdf-o"></i> Export PDF',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'csvHtml5', "text":'<i class="fa fa-file-text-o"></i> Export CSV',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'excelHtml5', "text":'<i class="fa fa-file-excel-o"></i> Export Excel',"className": 'pull-right btn btn-primary my_button_space_class' },
        ],
        "order": [[ 0, "desc" ]]
    } );
    $('#example_filter').hide(); // Hide default search datatables where example is the ID of table
    $('#txtSearch').on('keyup change', function() {
        $('#example')
            .DataTable()
            .search($('#txtSearch').val(), false, true)
            .draw();
    });
} );

</script>

{% endblock %}

