
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>




<style>
.my_button_space_class{
	margin-right :10px;
}
.form-control {
    padding: 1px 16px;
}
</style>


         <div class="content-wrapper">
            <h3>Orders
            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table id="example" class="table table-striped datatable display">
                              <thead>
								 <br>
								 <tr>
									<label>From:
									<input id="fromdate" type="date" name="fromdate" class="form-control" aria-controls="example" style="margin-top: 1px">
									</label>
									<label>To:
									<input id="todate" type="date" name="todate" class="form-control" aria-controls="example" style="margin-top: 1px">
									</label>
									<label>Search:
									<input id="txtSearch" type="search" class="form-control"aria-controls="example">
									</label>
									<label>Location:<br>
									<select id="storeid" class="form-control" multiple>
										<option value=""></option>
										{%for store in stores%}
									    <option id="store_{{store.id}}" value="{{store.id}}">{{store.name}}</option>
									    {%endfor%}
									</select>
									</label>
								 </tr>
								 <br>
                 <hr>
                                 <tr>
                                    <th style="white-space:nowrap">Order Id#</th>
                                    <th>Location</th>
                                    <th>Stall</th>
                                    <th>Amount</th>
                                    <th>Promo used</th>
                                    <th>Status</th>
                                    <th style="white-space:nowrap">User Id#</th>
                                    <th>Date/time</th>
                                    <th>Details</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script type="text/javascript">

$(document).ready(function() {

  $('select').selectpicker({"width": "200px", "noneSelectedText": "Any"});

    $('#example').DataTable( {
        dom: 'B<"clear">lfrtip',
        processing: true,
        serverSide: true,
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        info: true,
        search: {regex: true},
        ajax: "/foodfare/get_orders_all",
        buttons: [
            //'copyHtml5',
            { "extend": 'pdfHtml5', "text":'<i class="fa fa-file-pdf-o"></i> PDF',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'csvHtml5', "text":'<i class="fa fa-file-text-o"></i> CSV',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'excelHtml5', "text":'<i class="fa fa-file-excel-o"></i> Excel',"className": 'pull-right btn btn-primary my_button_space_class' },
        ],
        order: [[ 0, "desc" ]],
        columnDefs: [{
		    targets: 6,
		    data: null,
		    render: function ( data, type, row ) {
		      return '<a href="https://foodfare2.butlerpad.com/foodfare/admin/user/'+data[6]+'" target="_blank">'+data[6]+'</a>';
		    }
		 }]
    } );
    $('#example_filter').hide(); // Hide default search datatables where example is the ID of table
    $('#txtSearch').on('keyup change', function() {
        $('#example')
            .DataTable()
            .search($('#txtSearch').val(), false, true)
            .draw();
    });
    $('#fromdate').on('keyup change', function() {
        $('#example')
            .DataTable()
            .column(1)
            .search($('#fromdate').val(), false, true)
            .draw();
    });
    $('#todate').on('keyup change', function() {
        $('#example')
            .DataTable()
            .column(2)
            .search($('#todate').val(), false, true)
            .draw();
    });
    $('#storeid').on('keyup change', function() {
        $('#example')
            .DataTable()
            .column(3)
            .search($('#storeid').val(), false, true)
            .draw();
    });
} );

</script>

{% endblock %}

