

{% block body %}
<!-- START Page content-->



         <div style="width:720px;!important" class="content-wrapper">

			 <div style="display: block;">
				 <div style="display: inline-block;!important">
					 <img src='http://foodfare2.butlerpad.com/static/img/foodfare_logo.jpg' alt='foodfare logo' width='250'>
				 </div>
				 <div style="display: inline-block;!important">
					 <h4>{{com_addr.name}}</h4>
		             <p>{{com_addr.address}}</p>
		             <p>TEL: {{com_addr.tel}} FAX:{{com_addr.fax}} {{com_addr.website}}</p>
		             <p>{{com_addr.num}}</p>
	             </div>
	         </div>

			 <div style="display: block;">
	             <div style="width:360px; display: inline-block;!important">
		             <p><strong>DATE:</strong></p>
		             <p>{{order.timestamp|timestamp2date}}</p>
		             <p><strong>SOLD TO:</strong></p>
			         <p style="width:11em;word-wrap:break-word;">{{order.user_obj.first_name}} {{order.user_obj.last_name}}</p>
			         <p>{{order.user_obj.email}}</p>
				 </div>
				 <div style="width:300px;vertical-align:top;display: inline-block;!important">
		             <p><strong>RECEIPT #:</strong></p>
		             <p>{{payment.id}}</p>
		             <p><strong>ORDER #:</strong></p>
		             <p>{{order.id}}</p>
				 </div>
			 </div>

            <!-- START row-->
            <div class="row" style="clear: left;">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <thead>
                                 <tr>
                                    <th style="width:540px;border-bottom: 1px solid black;" align="left">Description</th>
                                    <th style="width:50px;border-bottom: 1px solid black;" align="left">Qty</th>
                                    <th style="width:80px;border-bottom: 1px solid black;" align="left">Unit Price</th>
                                    <th style="border-bottom: 1px solid black;" align="left">Amount</th>
                                    <th style="border-bottom: 1px solid black;" align="left">Take-away</th>
                                 </tr>
                              </thead>
                              <tbody>
								 {% for item in item_list %}
                                 <tr>
								   <td>{{item.menu_item|safe}}</td>
								   <td>{{item.quantity}}</td>
								   <td>${{item.price|adddecs}}</td>
								   {% set amount = item.price*item.quantity %}
								   <td>${{amount|adddecs}}</td>
								   <td>+${{item.take_away|adddecs}}</td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                           <br><br>
                           <div style="float:right;">
				             <p style="border-top: 1px solid black;" align="right"><strong>Subtotal: </strong>{{order.price|adddecs}}</p>
				             <p style="border-top: 1px solid black;" align="right"><strong>Grand Total: </strong>{{order.price|adddecs}}</p>
				             <p align="right" style="calc(10px + 0.25vw)"><strong>Grand Total Includes GST(7%): </strong>{{gst|adddecs}}</p>
				             <br><br>
					       </div>
					       <div style="clear: right;">
							   {%if fail_msg is none%}
							   <p align="center"><strong>Thank you for ordering from Foodfare!</strong></p>
							   {%else%}
							   <h2 align="center" style="color:red;">{{fail_msg}}</h2>
							   {%endif%}
						   </div>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->

         </div>
         <!-- END Page content-->

{% endblock %}

