
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

         <div class="content-wrapper">
            <h3>
               Promotions
            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
							<br>
                           <table id="example" class="table table-striped datatable">
                              <thead>
								 <tr>
<!--
									 <label>Search:
										 <input id="txtSearch" type="search" style="width:150px;" placeholder="Search" aria-controls="example">
									 </label>
-->

                                 {%if current_user.role == 0%}
						                 <a style="margin:10px;" href="promo/new" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add new promo</a>
						         {%endif%}
						         </tr>
								  <br><br>
                                 <tr>
                                    <th style="white-space:nowrap">Promo Id#</th>
                                    <th>Value</th>
                                    <th>Code</th>
                                    <th>Active</th>
                                    <th>Issued</th>
                                    <th>Used</th>
                                    <th>Created at</th>
                                    <th>Ends at</th>
                                 </tr>
                              </thead>
                              <tbody>
								  {%for promo in promos%}
                                 <tr>
								   <td><a href="/foodfare/admin/promo/{{promo.id}}">{{promo.id}}</a></td>
								   <td>{{promo.value}}</td>
								   <td>{{promo.code}}</td>
								   <td>
									   <label class="switch">
										  <input type="checkbox" id="promo{{promo.id}}" {%if promo.active == 1%}checked{%endif%}>
										  <span class="slider round"></span>
									   </label>
								   </td>
								   <td>{{promo.issued}}</td>
								   <td>{{promo.used}}</td>
								   <td>{{promo.timestamp|timestr}}</td>
								   <td>{{promo.ends_at}}</td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Promos</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script>
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
var xhr = new XMLHttpRequest();
document.addEventListener('DOMContentLoaded', function () {

  {%for promo in promos%}
  document.getElementById("promo{{promo.id}}").addEventListener('change', function () {
    if (document.getElementById("promo{{promo.id}}").checked) {
      // do this
      console.log('Checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_promo_config?id="+{{promo.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("status=1");
    } else {
      // do that
      console.log('Not checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_promo_config?id="+{{promo.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("status=0");
    }
  });
  {%endfor%}
});
</script>

{% endblock %}

