
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->



         <div class="container-fluid">
            <!-- START row-->
            <div class="row" id="events">

               <div class="col-sm-4">
				   <h3>Promo# {{promo_config.id}}</h3>
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <tbody>
                                 <tr>
								   <td>Promo Id#: </td>
								   <td>{{promo_config.id}}</td>
								 </tr>
								 <form method="post">
								 <tr>
								   <td>Name: </td>
								   <td><input type="text" name="code" value="{{promo_config.code}}"></td>
								 </tr>
								 <tr>
								   <td>Value: </td>
								   <td><input type="text" name="value" value="{{promo_config.value}}"></td>
								 </tr>
								 <tr>
								   <td>Issued: </td>
								   <td><input type="text" name="issued" value="{{promo_config.issued}}"></td>
								 </tr>
								  <tr>
								   <td>Ends at: </td>
								   <td><input type="date" name="ends_at" value="{{promo_config.ends_at}}"></td>
								 </tr>
								 <tr>
								   <td>Active: </td>
								   <td><input type="checkbox" name="active" {% if promo_config.active == True %}checked{% endif %} value="true"></td>
								 </tr>
								 <tr>
								   <td></td>
								   <td><input type="submit"</td>
								 </tr>
								 </form>
								 <tr>
									 <td></td>
									 <td>
										  <div>
							                 <a href="{{promo_config.id}}?delete=true" class="btn btn-danger"><i class="fa fa-trash"></i> Delete promo</a>
							              </div>
						             </td>
								 </tr>
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
               </div>
                  <!-- END panel-->
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
{% endblock %}

