
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>




<style>
.my_button_space_class{
	margin-right :10px;
}
.form-control {
    padding: 1px 16px;
}
</style>


         <div class="content-wrapper">
            <h3>Reports {% if report %}- {{report}}{% endif %}
            </h3>
            <!-- START row-->

            <div class="row" id="users">


               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body" style="overflow-x: scroll">
                      <br>
<form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only"><i class="fa fa-calendar"></i> From</label>
    <input class="form-control" type="date" value="{{date_from.strftime('%Y-%m-%d')}}" name="from">
  </div>
  <div class="form-group">
    <i class="fa fa-chevron-right"></i>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="staticEmail2" class="sr-only"><i class="fa fa-calendar"></i> To</label>
    <input class="form-control" type="date" value="{{date_to.strftime('%Y-%m-%d')}}" name="to">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="staticEmail2" class="sr-only"><i class="fa fa-calendar"></i> Report</label>
    <select class="form-control" name="report">
{% for r in reports %}
      <option value="{{r}}" {% if report == r %}selected{% endif %}>{{r}}</option>
{% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">View report <i class='fa fa-chevron-right'></i></button>
</form>


                        <!-- START table-responsive-->

{% if data %}
                        <div class="table-responsive">
                           <table id="example" class="table table-bordered datatable display">
<thead>
{% for key in data[0].keys() %}
  <th style="min-width:100px"><b>{{key}}</b></th>
{% endfor %}
</thead>
<tbody>

{% for row in data %}
<tr>
  {% for k,v in row.iteritems() %}
    <td>{{v}}</td>
  {% endfor %}
</tr>
{% endfor %}
                   
                                 
                           </table>
                        </div>
{% endif %}
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script type="text/javascript">

$(document).ready(function() {

  $('select').selectpicker({"width": "200px", "noneSelectedText": "Any"});

    $('#example').DataTable( {
        dom: 'B<"clear">lfrtip',
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        info: true,
        search: {regex: true},
        buttons: [
            //'copyHtml5',
            { "extend": 'pdfHtml5', "text":'<i class="fa fa-file-pdf-o"></i> PDF',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'csvHtml5', "text":'<i class="fa fa-file-text-o"></i> CSV',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'excelHtml5', "text":'<i class="fa fa-file-excel-o"></i> Excel',"className": 'pull-right btn btn-primary my_button_space_class' },
        ],
        order: [[ 0, "desc" ]]
    } );
} );

</script>

{% endblock %}

