
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img_ {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
</style>


         <div class="content-wrapper">
            <h3>

               {{store.name}} Stalls

            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <thead>
								  <br>
                                 <tr>
                                    <th>Stall id#</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Status</th>
<!--
                                    <th>Menu</th>
-->
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for stall in stalls %}
                                 <tr>
								   <td>{{stall.id}}</td>
								   <td><a href="/foodfare/admin/store/{{store.id}}/stall/{{stall.id}}">{{stall.name}}</a></td>
								   <td>
									   {%if stall.image%}
									   <a target="_blank" href="{{stall.image}}">
										  <img class="img_" src="{{stall.image}}" alt="stall image">
									   </a>
									   {%endif%}
								   </td>
								   <td>
									   <label class="switch">
										  <input type="checkbox" id="stall{{stall.id}}" {%if stall.shown == True%}checked{%endif%}>
										  <span class="slider round"></span>
									   </label>
								   </td>
								   <td>
									  <div>
						                 <a href="/foodfare/admin/store/{{store.id}}/stall/{{stall.id}}/menu" class="btn btn-primary"><i class="fa fa-cutlery"></i> Menu</a>
						              </div>
						           </td>

                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Stalls</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->

<script>
var xhr = new XMLHttpRequest();
document.addEventListener('DOMContentLoaded', function () {

  {%for stall in stalls%}
  document.getElementById("stall{{stall.id}}").addEventListener('change', function () {
    if (document.getElementById("stall{{stall.id}}").checked) {
      // do this
      console.log('Checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_stall?id="+{{stall.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("shown=true");
    } else {
      // do that
      console.log('Not checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_stall?id="+{{stall.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("shown=false");
    }
  });
  {%endfor%}
});
</script>

{% endblock %}

