
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>


         <div class="container-fluid">
            <!-- START row-->
            <div class="row" id="events">

               <div class="col-sm-7">
				   <h3>Stall# {{stall.id}}</h3>
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <tbody>
								 <tr>
								   <td>Merchant|Branch Id#: </td>
								   <td>{{stall.merchant_id}}</td>
								 </tr>
								 <tr>
								   <td>Terminal Id#: </td>
								   <td>{{stall.terminal_id}}</td>
								 </tr>
								 <tr>
								   <td>Operator Id#: </td>
								   <td>{{stall.operator_id}}</td>
								 </tr>
								 <form method="POST" enctype="multipart/form-data">
								 <tr>
								   <td>Image: </td>
									   {%if stall.image%}
									  <td>
										  <a target="_blank" href="{{stall.image}}">
										  <img src="{{stall.image}}" alt="stall image">
										  </a>
									  </td>
									   {%endif%}
									   <td><input type="file" name="image" value="{{stall.image}}"></td>
								 </tr>
								 <tr>
								   <td>Name: </td>
								   <td><input type="textarea" name="name" value="{{stall.name}}"></td>
								 <tr>
								   <td>Tags: </td>
								   <td><input class="long-value-input" type="text" name="tags" value="{{stall.tags|join_list_comma}}"><br>
								   <small><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> If more than one, follow format eg. Indian, Vegan</strong></small>
								   </td>
								 </tr>
								 <tr>
								   <td>shown: </td>
								   <td><input type="checkbox" name="shown" {% if stall.shown == true %}checked{% endif %} value="true"></td>
								 </tr>
								 <tr>
								   <td>Auto Open/Close: </td>
								   <td><input type="checkbox" name="auto_open_close" {% if stall.auto_open_close == true %}checked{% endif %} value="true"></td>
								 </tr>
								 <tr>
								   <td>Opens at: </td>
								   <td><input type="time" name="opens_at" value="{{stall.opens_at}}"></td>
								 </tr>
								 <tr>
								   <td>Closes at: </td>
								   <td><input type="time" name="closes_at" value="{{stall.closes_at}}"></td>
								 </tr>
								 <tr>
								   <td><input class="btn btn-primary" type="submit"></td>
								   <td><a href="{{stall.id}}?delete=true" class="btn btn-danger"><i class="fa fa-trash"></i> Delete Stall</a></td>
								 </tr>
								 <tr>
								   <td><h3>Timeslots</h3></td>
								 </tr>
								 <tr>
                                    <th>time</th>
                                    <th>slots</th>
                                 </tr>
                                 {% for timeslot in timeslots %}
									 <tr>
										 <td><input type="text" name="time_{{timeslot.time}}" value="{{timeslot.time}}"></td>
										 <td><input type="number" name="slots_{{timeslot.time}}" value="{{timeslot.slots}}"></td>
										 <td><a href="{{stall.id}}?delete_timeslot=true&time={{timeslot.time}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a></td>
									 </tr>
								 {% else %}
                                 <tr>
                                   <td>No Timeslots</td>
                                 </tr>
                                 {% endfor %}
								 <tr>
									 <td>
										 <a href="{{stall.id}}?add_timeslot=true" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
										 <input class="btn btn-primary" type="submit">
									</td>
								 </tr>
								 </form>
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
               </div>
                  <!-- END panel-->
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}

