
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>


         <div class="content-wrapper">
            <h3>

               Stores

            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <thead>
								  <br>
                                 <tr>
                                    <th>Store id#</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Opens at</th>
                                    <th>Closes at</th>
                                    <th></th>
<!--
                                    <th>Menu</th>
-->
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for store in stores %}
                                 <tr>
								   <td>{{store.id}}</td>
								   <td>{{store.name}}</td>
								   <td>
									   <label class="switch">
										  <input type="checkbox" id="store{{store.id}}" {%if store.status == 1%}checked{%endif%}>
										  <span class="slider round"></span>
									   </label>
								   </td>
								   <td>{{store.opens_at}}</td>
								   <td>{{store.closes_at}}</td>
								   <td>
									  <div>
						                 <a href="store/{{store.id}}/stalls" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Stalls</a>
						              </div>
						           </td>
<!--
								   <td><a href="/qiji/admin/menu?storeid={{store.id}}">menu</a></td>
-->
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Stores</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->

<script>
var xhr = new XMLHttpRequest();
document.addEventListener('DOMContentLoaded', function () {

  {%for store in stores%}
  document.getElementById("store{{store.id}}").addEventListener('change', function () {
    if (document.getElementById("store{{store.id}}").checked) {
      // do this
      console.log('Checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_store?id="+{{store.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("status=1");
    } else {
      // do that
      console.log('Not checked');
      xhr.open("POST", "https://foodfare2.butlerpad.com/foodfare/update_store?id="+{{store.id}}, true);
 	  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhr.send("status=0");
    }
  });
  {%endfor%}
});
</script>

{% endblock %}

