
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<style>
.my_button_space_class{
	margin-right :10px;
}
</style>


         <div class="content-wrapper">
            <h3>Payments
            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
							<br>
							<form>
								<p style="font-size:10px;">Hold Ctrl to select more than one stores.</p>
								<select name="storeid" style="margin-right:5px;" multiple>
									<option value="all">All</option>
									{%for store in stores%}
								    <option value="{{store.id}}">{{store.name}}</option>
								    {%endfor%}
								</select>
								<label>From: <input type="date" name="fromdate" style="width:145px;margin-right:5px;"></label>
								<label>To: <input type="date" name="todate" style="width:145px;margin-right:5px;"></label>
								<input type="submit" value="Submit">
							</form>
							<br>
                           <table id="example" class="table table-striped datatable">
                              <thead>
								  <br>
								 <tr>

									<label>Search:
									<input id="txtSearch" type="search" style="width:150px;" aria-controls="example">
									</label>
								 </tr>
								 <br>
                                 <tr>
									<th>Order Id#</th>
									<th>Order Status</th>
                                    <th>Store</th>
                                    <th>Amount</th>
                                    <th>Gross Amount</th>
                                    <th>Discount</th>
                                    <th hidden>Status</th>
                                    <th>User Id#</th>
                                    <th>Payment Id#</th>
                                    <th>Date/time</th>
                                    <th>Payment Type</th>
                                    <th hidden>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for payment in payment_transactions %}
                                 <tr>
								   <td>{{payment.order_id}}</td>
								   <td>{{status_from_order_id("qiji", payment.order_id)}}</td>
								   <td>{{store_from_order_id("qiji", payment.order_id)}}</td>
								   <td>${{payment.totalNetAmount}}</td>
								   <td>${{payment.totalAmount}}</td>
								   <td>${{payment.totalDiscount}}</td>
								   <td hidden>{{payment.status|payment_status}}</td>
								   <td><a href='/qiji/admin/user/{{payment.user_id}}'>{{payment.user_id}}</a></td>
								   <td>{{payment.id}}</td>
								   <td>{{payment.timestamp|timestr}}</td>
								   <td>{{payment.payment_type|payment_type}}</td>
								   <td hidden>
									   {%if payment.status ==1%}
									   <a
									   {%if 'paylah' in payment.payment_type%}
									   href="/qiji/admin/cancel_paylah_payment?ptoken={{payment.payment_token}}"
									   {%else%}
									   href="/qiji/admin/cancel_wirecard_payment?ptoken={{payment.payment_token}}"
									   {%endif%}
									   class="btn btn-primary">Refund</a>
									   {%endif%}
								   </td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Payments</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->

		 <div class="content-wrapper">
            <h3>Payments
            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table id="example" class="table table-striped datatable">
                              <thead>
								 <br>
								 <tr>
									<label>From:
									<input id="fromdate" type="date" name="fromdate" style="width:150px;margin-right:5px;" aria-controls="example">
									</label>
									<label>To:
									<input id="todate" type="date" name="todate" style="width:150px;margin-right:5px;" aria-controls="example">
									</label>
									<label>Search:
									<input id="txtSearch" type="search" style="width:150px;margin-right:5px;" aria-controls="example">
									</label>
									<label>Store:
									<select id="storeid" style="margin-right:5px;" multiple>
										<option value=""></option>
										{%for store in stores%}
									    <option id="store_{{store.id}}" value="{{store.id}}">{{store.name}}</option>
									    {%endfor%}
									</select>
									</label>
								 </tr>
								 <br>
                                 <tr>
                                    <th style="white-space:nowrap">Order Id#</th>
                                    <th>Store</th>
                                    <th>Amount</th>
                                    <th>Gross Amount</th>
                                    <th>Discount</th>
                                    <th>Promo used</th>
                                    <th>Status</th>
                                    <th style="white-space:nowrap">User Id#</th>
                                    <th>Details</th>
                                    <th>Date/time</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Blfrtip',
        buttons: [
            { "extend": 'pdfHtml5',
			  "text":'<i class="fa fa-file-pdf-o"></i> Export PDF',
			  "className": 'pull-right btn btn-primary my_button_space_class',
			  "exportOptions": {
				  "columns": ':visible'
			  }
			},
            { "extend": 'csvHtml5',
			  "text":'<i class="fa fa-file-text-o"></i> Export CSV',
			  "className": 'pull-right btn btn-primary my_button_space_class',
			  "exportOptions": {
				  "columns": ':visible'
			  }
			},
            { "extend": 'excelHtml5',
			  "text":'<i class="fa fa-file-excel-o"></i> Export Excel',
			  "className": 'pull-right btn btn-primary my_button_space_class',
			  "exportOptions": {
				  "columns": ':visible'
			  }
			},
        ],
        "order": [[ 0, "desc" ]]
    } );
    $('#example_filter').hide(); // Hide default search datatables where example is the ID of table
    $('#txtSearch').on('keyup change', function() {
        $('#example')
            .DataTable()
            .search($('#txtSearch').val(), false, true)
            .draw();
    });
} );
</script>

{% endblock %}

