
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->



         <div class="container-fluid">
            <!-- START row-->
            <div class="row" id="user">

               <div class="col-sm-4">
				   <h3>User# {{user.id}}</h3>
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table class="table table-striped datatable">
                              <tbody>
                                 <tr>
								   <td>User Id#: </td>
								   <td>{{user.id}}</td>
								 </tr>
								 <tr>
								   <td>Email: </td>
								   <td>{{user.email}}</td>
								 </tr>
								 <tr>
								   <td>NRIC: </td>
								   <td>{{user.nric}}</td>
								 </tr>
									<td>Send notification</td>
									<td>
										<form action="{{ url_for('cms_admin_send_notification') }}" method="post">
											<input type="text" name="user_id" value="{{user.id}}"  hidden>
											<input type="text" name="subject" placeholder="Subject">
											<br><br>
											<input type="textarea" name="body" placeholder="Body">
											<br><br>
											<input type="submit">
										</form>
									</td>
                                 </tr>
                              </tbody>
                           </table>
                           <table class="table table-striped datatable">
								   <h3>Promotion codes Used</h3>
							  <thead>
                                 <tr>
                                    <th>Promo Id#</th>
                                    <th>Code</th>
                                    <th>Value</th>
                                    <th>Order</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
	                              <tbody>
	                                 {% for promo in promos %}
	                                 <tr>
									   <td>{{promo.promo_obj.id}}</td>
									   <td>{{promo.promo_obj.code}}</td>
									   <td>{{promo.promo_obj.value}}</td>
									   <td>{{promo.id}}</td>
									   <td><a href="{{user.id}}?promoid={{promo.id}}&reset=true" class="btn btn-primary"><i class="fa fa-refresh"></i> Reset</a></td>
	                                 </tr>
	                                 {% else %}
	                                 <tr>
	                                    <td>No Promotion Codes</td>
	                                 </tr>
	                                 {% endfor %}
	                              </tbody>
	                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
               </div>
                  <div class="col-md-8">
					  <h3>Orders History {%if from_date != '2016-01-01'%}from <strong>{{from_date}}</strong>{%endif%}
		              {% if to_date != '2036-01-01'%} to <strong>{{to_date}}</strong>{%endif%}</h3>
                  <!-- START panel-->
	                  <div class="panel panel-default">
	                     <div class="panel-body">
	                        <!-- START table-responsive-->
	                        <div class="table-responsive">
							<br>
							<form>
								<select name="storeid" style="margin-right:5px;">
									<option value="all" {%if store_id is none or store_id == 'all'%}selected{%endif%}>All</option>
									{%for store in stores%}
								    <option value="{{store.id}}" {%if store.id == store_id%}selected{%endif%}>{{store.name}}</option>
								    {%endfor%}
								</select>
								<label>From: <input type="date" name="fromdate" style="width:145px;margin-right:5px;"></label>
								<label>To: <input type="date" name="todate" style="width:145px;margin-right:5px;"></label>
								<input type="submit" value="Submit" style="margin-right:20px;">
						    </form>
						    <br>
	                           <table class="table table-striped datatable">
							  <thead>
                                 <tr>
                                    <th>Order Id#</th>
                                    <th>Status</th>
                                    <th>Price</th>
                                    <th>Details</th>
                                    <th>Date/time</th>
                                    <th>Store</th>
                                 </tr>
                              </thead>
	                              <tbody>
	                                 {% for order in orders %}
	                                 <tr>
									   <td>{{order.id}}</td>
									   <td>{{order.status|order_status}}</td>
									   <td>{{order.price}}</td>
									   <td>{{order.details|order_details}}</td>
									   <td>{{order.timestamp|timestr}}</td>
									   <td>{{order.store_obj.name}}</td>
	                                 </tr>
	                                 {% else %}
	                                 <tr>
	                                    <td>No Orders</td>
	                                 </tr>
	                                 {% endfor %}
	                              </tbody>
	                           </table>
	                        </div>
	                        <!-- END table-responsive-->
	                     </div>
	                  </div>
                  <!-- END panel-->
                  </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
{% endblock %}

