
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<style>
.my_button_space_class{
	margin-right :10px;
}
.form-control {
    padding: 1px 16px;
}
</style>


         <div class="content-wrapper">
            <h3>

               Users

            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table id="example" class="table table-striped datatable">
                              <thead>
								  <br>
								  <tr>
									<label>Search:
									  <input id="txtSearch" type="search" style="width:150px;" aria-controls="example">
									</label>
								  </tr>
                                 <tr>
                                    <th>User id#</th>
                                    <th>Email</th>
                                    <th>Token</th>
                                    <th>Payments</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Blfrtip',
        processing: true,
        serverSide: true,
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        search: {regex: true},
        ajax: "/foodfare/get_users_all",
        buttons: [
            { "extend": 'pdfHtml5', "text":'<i class="fa fa-file-pdf-o"></i> Export PDF',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'csvHtml5', "text":'<i class="fa fa-file-text-o"></i> Export CSV',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'excelHtml5', "text":'<i class="fa fa-file-excel-o"></i> Export Excel',"className": 'pull-right btn btn-primary my_button_space_class' },
        ],
        columnDefs: [{
		    targets: 1,
		    data: null,
		    render: function ( data, type, row ) {
		      return '<a href="https://foodfare2.butlerpad.com/foodfare/admin/user/'+data[0]+'" target="_blank">'+data[1]+'</a>';
		    }
		 }]
    } );
    $('#example_filter').hide(); // Hide default search datatables where example is the ID of table
    $('#txtSearch').on('keyup change', function() {
        $('#example')
            .DataTable()
            .search($('#txtSearch').val(), false, true)
            .draw();
    });


} );
</script>


{% endblock %}

