
{% extends "foodfare2/main.html" %}

{% block body %}
<!-- START Page content-->

<style>
.my_button_space_class{
	margin-right :10px;
}
</style>


         <div class="content-wrapper">
            <h3>

               Users

            </h3>
            <!-- START row-->
            <div class="row" id="users">

               <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-body">
                        <!-- START table-responsive-->
                        <div class="table-responsive">
                           <table id="example" class="table table-striped datatable">
                              <thead>
								  <br>
								  <tr>
									<label>Search:
									  <input id="txtSearch" type="search" style="width:150px;" aria-controls="example">
									</label>
								  </tr>
                                 <tr>
                                    <th>User id#</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Promotion Emails</th>
                                    <th>Payments</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for user in users %}
                                 <tr>
								   <td><a href='/qiji/admin/user/{{user.id}}'>{{user.id}}</a></td>
								   <td><a href='/qiji/admin/user/{{user.id}}'>{{user.email}}</a></td>
								   <td>{{user.phone}}</td>
								   <td>{{user.address}}</td>
								   <td>{{user.promo_emails}}</td>
								   <td>{{user.payments}}</td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td></td><td>No Users</td><td></td><td></td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                        <!-- END table-responsive-->
                     </div>
                  </div>
                  <!-- END panel-->
               </div>
            </div>
            <!-- END row-->


         </div>
         <!-- END Page content-->
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Blfrtip',
        buttons: [
            { "extend": 'pdfHtml5', "text":'<i class="fa fa-file-pdf-o"></i> Export PDF',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'csvHtml5', "text":'<i class="fa fa-file-text-o"></i> Export CSV',"className": 'pull-right btn btn-primary my_button_space_class' },
            { "extend": 'excelHtml5', "text":'<i class="fa fa-file-excel-o"></i> Export Excel',"className": 'pull-right btn btn-primary my_button_space_class' },
        ]
    } );
    $('#example_filter').hide(); // Hide default search datatables where example is the ID of table
    $('#txtSearch').on('keyup change', function() {
        $('#example')
            .DataTable()
            .search($('#txtSearch').val(), false, true)
            .draw();
    });
} );
</script>


{% endblock %}

